# version: '3.9'
# services:
#   # mongodb-primary:
#   #   image: bitnami/mongodb:latest
#   #   user: root
#   #   container_name: mongodb-primary
#   #   hostname: mongodb-primary
#   #   networks:
#   #     - custom-library-network
#   #   environment:
#   #     - MONGODB_REPLICA_SET_MODE=primary
#   #     - MONGODB_PORT_NUMBER=27017
#   #     - MONGODB_ADVERTISED_HOSTNAME=mongodb-primary
#   #     - MONGODB_ROOT_USER=root
#   #     - MONGODB_ROOT_PASSWORD=admin123
#   #     - MONGODB_REPLICA_SET_KEY=admin123
#   #   ports:
#   #     - 27017:27017
#   #   volumes:
#   #     - mongodb_master_data:/bitnami

#   # mongodb-secondary:
#   #   image: bitnami/mongodb:latest
#   #   container_name: mongodb-secondary
#   #   hostname: mongodb-secondary
#   #   networks:
#   #     - custom-library-network
#   #   depends_on:
#   #     - mongodb-primary
#   #   environment:
#   #     - MONGODB_REPLICATE_SET_MODE=secondary
#   #     - MONGODB_ADVERTISED_HOSTNAME=mongodb-secondary
#   #     - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
#   #     - MONGODB_INITIAL_PRIMARY_PASSWORD=admin123
#   #     - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27017
#   #     - MONGODB_REPLICA_SET_KEY=admin123
#   #   ports:
#   #     - 27018:27017

# volumes:
#   mongodb_master_data:
#     driver: local
# networks:
#   custom-library-network: {}

version: '3.9'
services:
  mongodb-primary:
    image: bitnami/mongodb:latest
    networks:
      - mongo-cluster
    volumes:
      - mongo_master_data:/bitnami
    environment:
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-primary
      - MONGODB_ROOT_USER=root
      - MONGODB_ROOT_PASSWORD=admin123
      - MONGODB_USERNAME=admin
      - MONGODB_PASSWORD=admin123
      - MONGODB_DATABASE=test
      - MONGODB_REPLICA_SET_KEY=admin123
    ports:
      - 27017:27017
      
  mongodb-secondary:
    image: bitnami/mongodb:latest
    networks:
      - mongo-cluster
    depends_on: 
      -  mongodb-primary
    environment:
      - MONGODB_REPLICA_SET_MODE=secondary
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-secondary
      - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
      - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27017
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=admin123
      - MONGODB_REPLICA_SET_KEY=admin123
    ports: 
      - 27018:27017

  mongodb-arbiter:
    image: bitnami/mongodb:latest
    networks:
      - mongo-cluster
    depends_on: 
      -  mongodb-primary
    environment:
      - MONGODB_REPLICA_SET_MODE=arbiter
      - MONGODB_ADVERTISED_HOSTNAME=mongodb-arbiter
      - MONGODB_INITIAL_PRIMARY_HOST=mongodb-primary
      - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27017
      - MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD=admin123
      - MONGODB_REPLICA_SET_KEY=admin123
    ports: 
      - 27019:27017
volumes:
  mongo_master_data: {}
networks:
  mongo-cluster: {}
